body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(23, 23, 23);
    font-family: 'Figtree';
}

/* MAIN */
    
    main {
        max-height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
    }

/* ARTICLE */

    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        z-index: 1;
    }

    header h1 {
        margin: 3vh 4vw;
        color: rgb(245, 245, 245);
        font-family: 'Calvino Grande Trial';
        font-size: 50px;
        font-weight: 700;
        text-shadow: 2px 1px black;
    }

    .progress-container {
        display: flex;
        justify-content: flex-start;
        margin-left: 4vw;
        width: 95%; /* Breedte van de blokjes in totaal */
    }
    
    .progress-block {
        height: 10px;
        border-radius: 2px;
        transition: width 0.4s ease, background-color 0.4s ease;
        margin-right: 5px; /* Ruimte tussen blokjes */
        background-color: #555; /* Kleur voor inactieve blokjes */
        display: inline-block;
    }
    
    .active {
        background-color: #ffffff; /* Kleur actieve blokje */
    }
    
    .inactive {
        background-color: #555; /* Kleur achtergrond blokje */
    }

    article {
        margin-top: 1em;
        margin-left: 4vw;
        min-height: 45vh;
    }

    article h2 {
        color: rgb(245, 245, 245);
        font-family: 'Calvino Grande Trial';
        font-size: 50px;
        font-weight: 650;
        text-shadow: 2px 1px black;
        margin-top: 1vh;
    }

    article p {
        color: white;
        font-size: 18px;
        font-weight: 100;
        font-family: 'Figtree';
        text-shadow: 1px 1px black;
    }

    /* button containers */
    .button-container {
        margin-top: 1em;
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1vw;
    }

    .button-container .een,
    .button-container .twee {
        height: 60px;
        width: 60px;
        /* padding: 10px 15px;
        margin: 10px; */
        border: 1px solid white;
        border-radius: 80px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        z-index: 1;
    }

    .button-container .een-end,
    .button-container .twee-end {
        height: 60px;
        width: 140px;
        /* padding: 10px 15px;
        margin: 10px; */
        border: 1px solid white;
        border-radius: 80px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        z-index: 1;
    }

    .button-container button:disabled {
        background-color: #888;
        cursor: not-allowed;
    }

    /* SVG'S */

    #svg-container {
        position: absolute;
        height:500px;
        width: 100%;
        right: 0;
        bottom: -10vh;
        z-index: -1;
    }

    #svg-container .svg-step-0 {
        position: absolute;
        bottom: 10vh;
        right: 0;
        filter: blur(5em);
    }

    #svg-container .svg-step-1 {
        height: 600px;
        width: 600px;
        bottom: 0;
        left: 0;
        filter: blur(7em);
    }

    #svg-container .svg-step-2 {
        bottom: 10vh;
        left: 2vh;
        filter: blur(5em);
    }

    #svg-container .svg-step-3 {
        position: absolute;
        bottom: 35vh;
        left: 0;
    }

    #svg-container .svg-step-4 {
        position: absolute;
        bottom: 33vh;
        left: 10vh;
    }

    #svg-container .svg-step-5 {
        position: absolute;
        bottom: 33vh;
        left: 10vh;
    }

    #svg-container .svg-step-6 {
        position: absolute;
        bottom: 33vh;
        left: 10vh;
    }

    #svg-container .svg-step-7 {
        bottom: 10vh;
        left: 2vh;
        filter: blur(5em);
    }

    #svg-container .svg-step-8 {
        bottom: 10vh;
        left: 2vh;
        filter: blur(5em);
    }

    #svg-container .svg-step-9 {
        height: 600px;
        width: 600px;
        bottom: 10vh;
        left: 2vh;
        filter: blur(5em);
    }

    @media (min-width: 450px) {
        article {
            min-height: 55vh;
            font-size: 20px;
        }
        article h2 {
            font-size: 60px;
        }
        article p {
            font-size: 20px;
        }
        .button-container {
            margin: 0;
        }
        .button-container .een,
        .button-container .twee {
            height: 70px;
            width: 70px;
            font-size: 20px;
        }
    }

    @media (min-width: 700px) {
        article {
            min-height: 55vh;
            font-size: 20px;
        }
        article h2 {
            font-size: 60px;
        }
        article p {
            font-size: 20px;
        }
        .button-container .een,
        .button-container .twee {
            height: 70px;
            width: 70px;
            font-size: 20px;
        }
    }

    @media (min-width: 1000px) {
        article {
            min-height: 55vh;
            font-size: 20px;
        }
        article h2 {
            font-size: 70px;
        }
        article p {
            font-size: 25px;
        }
        .button-container .een,
        .button-container .twee {
            height: 70px;
            width: 70px;
            font-size: 20px;
        }
    }