body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    background-color: rgb(23, 23, 23);

    font-family: 'Figtree';
    font-size: 16px;
    line-height: 1.4;
}

/* MAIN */

.rouwtaak2 {

    position: absolute;
    top: -21vw;
    left: -3vw;
    height: 57em;
    width: 35em;

    background: url(.png);


}

.rain {

    position: absolute;
    height: 50vw;
    width: 80vw;
    top: 0;
    left: 0vw;
    background: url(.png);

}
    
main {

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/* ARTICLE */

article {
    display: flex;
    flex-direction: column;

    margin-top: 2em;
    margin-left: 2em;

    z-index: 1;
}

article h1 {
    color: rgb(245, 245, 245);
    margin: 0;
    font-family: 'Calvino Grande Trial';
    font-size: 50px;
    font-weight: 750;
    text-shadow: 2px 1px black;

}

article p {
    color: white;
    font-size: 20px;
    font-family: 'Figtree';
    text-shadow: 1px 1px black;
}

/* ASIDE */

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.736);
    z-index: 1;

}

aside p {
    font-size: 16px;
    line-height: 1.4;
    max-width: 25em;
    color:white;
}

aside a {
    margin-top: 1em;
    padding: 1vw;
    border: 2px solid white;
    border-radius: 40px;
    color:white;
    text-decoration: none;
}

aside a:hover {
    background-color: rgb(243, 239, 239);
    color: black;
    cursor: pointer;
}

@media (min-width: 600px) {
    main {
        flex-direction: row;
        align-items: normal;
    }

    article {
        margin-top: 3em;
        margin-left: 2em;
        margin-right: auto;
    }
    article h1 {
        font-size: 70px;
    }
    article p {
        font-size: 20px;
        max-width: 20em;
    }
    aside {
        max-width: 17rem;
    }
}

@media (min-width: 800px) {
    article {
        margin-top: 5em;
        margin-left: 5em;
    }
    article h1 {
        font-size: 70px;
    }
    article p {
        font-size: 22px;
    }
}